*{
    background-color: #222;
    color: white;
    margin: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.cuerpo{
    display: grid;
    grid-template-columns: 350px auto;
    grid-column-gap: 35px;
    text-align: justify;
}

.portada{
    max-width: 100%;
}

.navBar{
    display: grid;
    font-size: 22px;
}

.navBar li:hover{
    cursor: pointer;
    color: rgb(109, 107, 107);
}

.navBar ul{
    list-style: none;
}

.navBar li{
    display: inline;
    float: right;
}